<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Year that Tupac Shakur died</key>
	<dict>
		<key>year</key>
		<integer>1996</integer>
	</dict>
	<key>Last time Germany won the World Cup</key>
	<dict>
		<key>year</key>
		<integer>2014</integer>
	</dict>
	<key>Year that Albert Einstein was born</key>
	<dict>
		<key>year</key>
		<integer>1879</integer>
	</dict>
	<key>Year that Albert Einstein died</key>
	<dict>
		<key>year</key>
		<integer>1955</integer>
	</dict>
	<key>Year that Canada declared independency</key>
	<dict>
		<key>year</key>
		<integer>1931</integer>
	</dict>
	<key>Year that Justin Trudeau was born</key>
	<dict>
		<key>year</key>
		<integer>1971</integer>
	</dict>
	<key>Year that Justin Trudeau was elected as the Canada&apos;s prime minister</key>
	<dict>
		<key>year</key>
		<integer>2015</integer>
	</dict>
	<key>Year that World War 2 did end</key>
	<dict>
		<key>year</key>
		<integer>1945</integer>
	</dict>
	<key>Year that US faked the moon landing</key>
	<dict>
		<key>year</key>
		<integer>1969</integer>
	</dict>
	<key>Year that Elon Musk was born</key>
	<dict>
		<key>year</key>
		<integer>1971</integer>
	</dict>
	<key>Year that Canada legalizes weed</key>
	<dict>
		<key>year</key>
		<integer>2018</integer>
	</dict>
	<key>Last time Brazil won the world cup</key>
	<dict>
		<key>year</key>
		<integer>2002</integer>
	</dict>
	<key>Tearing Down of Berlin Wall</key>
	<dict>
		<key>year</key>
		<integer>1989</integer>
	</dict>
	<key>Year that Soviet Union collapsed</key>
	<dict>
		<key>year</key>
		<integer>1991</integer>
	</dict>
	<key>World Wide Web invented, Reunification of Germany</key>
	<dict>
		<key>year</key>
		<integer>1990</integer>
	</dict>
	<key>Dropping of Atom Bombs on Hiroshima and Nagasaki</key>
	<dict>
		<key>year</key>
		<integer>1945</integer>
	</dict>
	<key>Beginning of the Great Depression</key>
	<dict>
		<key>year</key>
		<integer>1929</integer>
	</dict>
	<key>First modern Olympic Games held at Athens</key>
	<dict>
		<key>year</key>
		<integer>1896</integer>
	</dict>
	<key>Slavery is abolished by the 13th Amendment in the United States of America</key>
	<dict>
		<key>year</key>
		<integer>1865</integer>
	</dict>
	<key>Fukushima Daiichi Nuclear Disaster</key>
	<dict>
		<key>year</key>
		<integer>2011</integer>
	</dict>
	<key>End of apartheid in South Africa</key>
	<dict>
		<key>year</key>
		<integer>1994</integer>
	</dict>
	<key>Chernobyl disaster</key>
	<dict>
		<key>year</key>
		<integer>1986</integer>
	</dict>
	<key>Year that Stuxnet was first uncovered</key>
	<dict>
		<key>year</key>
		<integer>2010</integer>
	</dict>
	<key>Year that swift was released for first time</key>
	<dict>
		<key>year</key>
		<integer>2014</integer>
	</dict>
	<key>Year that MS DOS was shipepd</key>
	<dict>
		<key>year</key>
		<integer>1980</integer>
	</dict>
</dict>
</plist>
